body{
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
#sigma, #beta, #gama{
    width: 50px;
}
#titre{
    text-align: center;
    padding-top: 10px;
}
#filiere{
    text-align: center;
}
canvas{
    height: 100%;
}
#content{
    
    padding: 5px;
    overflow: auto;
    height: 70vh;
}

.params{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
}