{% extends "base.html" %}
{% block containt%}
    <div class="row bg-light">
        <ul class="nav nav-tabs bm6 ">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="simulateur">Simulator</a>
            </li>
                <li class="nav-item">
            <a class="nav-link active" href="equipe">Team</a>
            </li>
        </ul>
    </div>
{% endblock containt%}