{% extends "base.html" %}
{% block containt%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="simulator">Simulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publications">Publications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="team">Team</a>
        </li>
        </ul>
    </div>
    </nav>
<div class="container" id="container">
    <div class="text-justify">
        <H3>1. Introduction</H3>
        Recently, a various mathematical models has been proposed and used for modeling and forecasting
    COVID-19 disease. But, all of this forecasting results have been interpreted and computed with fixed data
    (based on governmental data sources) until a specified day and time and there are not taking account of the
    recent changed data and the evolution of the pandemic situation. The first aims of this platform is develop
    an interactive application which is able to simulate and forecasting the spread of Covid-19, based on the
    classical models likes SIR, SEIR and their variants at each time with the actual update of real data that
    come from different API. The Simulator-Covid page allow to simulate the presented mathematical models
    for a various values of the model parameter’s. To find the parameters adopted for each countries ( particularly in morocco and its regions ) and we fit the models for each country with respect to the actual
    real data given by the API . The second aims is to present some recents models (developed by our team)
    describes the spreading of coronavirus under the effect of a various government measures related to stoping
    coronavirus spreading, likes lockdowns or confinement. We also evaluate the government measures at each
    country and investigate the clustering of country with respect to the evolution of the pandemic.
    <h3>2. Mathematical model</h3>
    <h4>2.1. The SIR model</h4>
    <p> The SIR model is one of the most epidemiological compartmental models for the investigation of the spread
    of disease caused by virus. This model was introduced by Kermack and McKendrick in 1927 to describes
    the evolution of the relative proportions of three disjoint classes which change with time t
    </p>
    <p>
    In the SIR model, the population is subdivided into the following three epidemiologically distinct types of
    individuals and this classes are be represented by
    <ol>
        <li> The susceptible class S(t) the individuals have not yet infected by the disease of interest .</li>
        <li>The infected class I(t) the individuals who are currently infected and capable to transmitting the
        disease to others.</li>
        <li>The removed class R(t) the individuals formally infected who are deceased, or have recovered and
        are either permanently immune.</li>
    </ol>
    </p>
    <p>Mathematically, the model can formulated as a system of three equations:</p>
    <div>
        $$ 
        \begin{equation}\label{Sir-system}
    \begin{cases}
    \displaystyle \frac{ dS(t)}{dt} = -\frac{\beta}{N} S(t) \: I(t)\\ \\
    \displaystyle  \frac{ dI(t)}{dt}  = \frac{\beta}{N} S(t) \: I(t) -\gamma I(t)\\  \\
    \displaystyle  \frac{ dR(t)}{dt} = \gamma I(t). 
    \end{cases}
    \end{equation}
        $$
    </div>
    <p> The term \(\frac{\beta}{N} S(t) \: I(t) \) represents the disease transmission rate by contact between susceptible and infected individuals.  The parameter  \(\beta\) is the infection rate (to be estimated) and \(\gamma\) is the recovery rate which can be computed with respect to the period of viral shedding ( \(\gamma\sim \frac{1}{10} days^{-1}\) in the case of Covid-19). Adding all equations in the model, we observe that  the total population  \(N=S+I+R\) is a constant. Indeed, we see that</p>
    $$ \displaystyle \frac{ dS(t)}{dt} +   \frac{ dI(t)}{dt}  +  \frac{ dR(t)}{dt} = 0 \qquad \mbox{ and }\;\;  S(t)+I(t)+R(t)=N \mbox{ for each time  } t.$$ 
    <p>The system above is completed by the initial conditions. Starting the model when the first infected individual appears in the population, which  correspond to \(\displaystyle S(0)=N-1,  \: I(0)=1\) and  \(R(0)=0\). The case where the number  of infected and recovered is neglected with respect to the total population the number of susceptible \(S\) can be approximated by a constant, \( S(t) \sim S_0=N\). </p>
    </div>
    <br>
    <br>
</div>
{% endblock containt%}