{% extends "base.html" %}
{% block containt%}
<div class="container" id="container">
    <div class="text-justify">
        <h4> Logistic model </h4>
        Logistic model has been firstly developed by Verhulst in his pioneer work on limits to population growth and  it is actually largely used in epidemiology and permits to understand  and/or predict the development and transmission of  various disease ,it  provides also a good model for the exponential growth that includes the so called saturation mechanism leading to the equilibrium. The logistic model has been defined by the following ordinary differential equation: 
        $$
        \displaystyle \frac{ d\:I_c{(t)}}{d\:t} = r I_c (t)\Big[1- \frac{I_c(t)}{K} \Big]
        $$
        where \( I_c(t) \) describe the cumulative confirmed infected cases at each days \( t \) and \( K \) represent the maximum of confirmed cases.
        
        <h4>Richards growth  model </h4>
        Richards nonlinear model is a very versatile model for describing many growth processes which is a generalization of the well-known logistic model and is generally expressed in terms of a nonlinear differential equation.
        The  Richards growth equation can be written as:
        $$
        \displaystyle \frac{ d\:I_c{(t)}}{d\:t} = r I_c (t)\Big[1- \Big(\frac{I_c(t)}{K}\Big)^\gamma \Big]
        $$
        where the parameter \( \gamma \) adjust the steepness of the curve. 
    </div>
</div>
{% endblock containt%}