{% extends "base.html" %}
{% block containt%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="simulator">Simulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publications">Publications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="team">Team</a>
        </li>
        </ul>
    </div>
    </nav>
<div class="container" id="container">
    <br>
    <p><b>Directeur de la Structure de recherche: </b>Driss Meskine</p>
    <p><b>Directeur adjoin: </b>Fahd Karami</p><br>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Grade</th>
            <th scope="col">Spécialité</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">MESKINE</th>
            <td>Driss</td>
            <td>PES</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">KARAMI</th>
            <td>Fahd</td>
            <td>PES</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">El MOURABIT</th>
            <td>IDRISS</td>
            <td>PA</td>
            <td>Mathématiques</td>
          </tr>
          <tr>
            <th scope="row">CHOUHAD</th>
            <td>Nadia</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">JOHRI</th>
            <td>Mustapha</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">AYOUCH</th>
            <td>Chahid</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">ZIAD</th>
            <td>Lamia</td>
            <td>PA</td>
            <td>Math-Info</td>
          </tr>
          <tr>
            <th scope="row">AIT LMAATI</th>
            <td>Almustapha</td>
            <td>PA</td>
            <td>Informatique</td>
          </tr>
          <tr>
            <th scope="row">GOUNANE</th>
            <td>Said</td>
            <td>PA</td>
            <td>Informatique</td>
          </tr>
          <tr>
            <th scope="row">GUEZZAZ</th>
            <td>Azidine</td>
            <td>PA</td>
            <td>Infromatique</td>
          </tr>
          <tr>
            <th scope="row">BARKOUCH</th>
            <td>Yassir</td>
            <td>PA</td>
            <td>Modélisation Environnement et energie</td>
          </tr>
          <tr>
            <th scope="row">AMATOUL</th>
            <td>Fatima Ezzahra</td>
            <td>PA</td>
            <td>Energie &amp; physique</td>
          </tr>
          <tr>
            <th scope="row">BENKIRANE</th>
            <td>Said</td>
            <td>PA</td>
            <td>physique-Info</td>
          </tr>
          <tr>
            <th scope="row">ASEBRIY</th>
            <td>Zahra</td>
            <td>PA</td>
            <td>physique-Info</td>
          </tr>
        </tbody>
      </table>
      
      
</div>
{% endblock containt%}