{% extends "base.html" %}
{% block containt%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="simulator">Simulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publications">Publications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="team">Team</a>
        </li>
        </ul>
    </div>
    </nav>
<div class="container" id="container">
    <br>
    <p><b>Directeur de la Structure de recherche: </b>Driss Meskine</p>
    <p><b>Directeur adjoint: </b>Fahd Karami</p><br>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Grade</th>
            <th scope="col">Spécialité</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">01</th>
            <td>MESKINE</td>
            <td>Driss</td>
            <td>PES</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">02</th>
            <td>KARAMI</td>
            <td>Fahd</td>
            <td>PES</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">03</th>
            <td>El MOURABIT</td>
            <td>IDRISS</td>
            <td>PA</td>
            <td>Mathématiques</td>
          </tr>
          <tr>
            <th scope="row">04</th>
            <td>CHOUHAD</td>
            <td>Nadia</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">05</th>
            <td>JOHRI</td>
            <td>Mustapha</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">06</th>
            <td>AYOUCH</td>
            <td>Chahid</td>
            <td>PA</td>
            <td>Mathèmatiques</td>
          </tr>
          <tr>
            <th scope="row">07</th>
            <td>ZIAD</td>
            <td>Lamia</td>
            <td>PA</td>
            <td>Math-Info</td>
          </tr>
          <tr>
            <th scope="row">08</th>
            <td>AIT LMAATI</td>
            <td>Almustapha</td>
            <td>PA</td>
            <td>Informatique</td>
          </tr>
          <tr>
            <th scope="row">09</th>
            <td>GOUNANE</td>
            <td>Said</td>
            <td>PA</td>
            <td>Informatique</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>GUEZZAZ</td>
            <td>Azidine</td>
            <td>PA</td>
            <td>Infromatique</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>BARKOUCH</td>
            <td>Yassir</td>
            <td>PA</td>
            <td>Modélisation Environnement</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>AMATOUL</td>
            <td>Fatima Ezzahra</td>
            <td>PA</td>
            <td>Physique</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>BENKIRANE</td>
            <td>Said</td>
            <td>PA</td>
            <td>physique-Info</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>ASEBRIY</td>
            <td>Zahra</td>
            <td>PA</td>
            <td>physique-Info</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      
</div>
{% endblock containt%}